*.zip
.DS_Store
.eslintignore
.eslintrc.js
.huskyrc
.npmignore
.prettierrc
.terraform
.tfplan
commitlint.config.js
coverage
dist
dist/showcase
lib
node_modules
tsconfig.json
tsconfig.lib.json
yarn-error.log
